
.button {
  border-radius: 20px;
  font-size: 20px;
  color: white;
  background: cornflowerblue;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  display: inline-block;
  border: none;
}