.header {
  background: lighten(cornflowerblue, 10%);
  padding: 15px 0 ;

  &__inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-right: 40px;
    font-size: 30px;
    color: grey;
    text-decoration: none;
    text-shadow: 1px 1px 0px pink;
    font-weight: bold;
  }


  &__link {
    display: inline-block;
    padding: 0 10px;
    font-size: 0.9em;
    color: #333;
    &:first-of-type {
      padding-left: 0;
    }
  }
}