.header {
  background-color: cornflowerblue;
  padding: 15px 0 ;

  &__inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-right: 40px;
    font-size: 30px;
    color: grey;
    text-decoration: none;
    text-shadow: 1px 1px 0px #333;
    font-weight: bold;
    color: wheat;
  }


  &__link {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.2em;
    color: whitesmoke;
    line-height: 1em;
    text-decoration: none;
    &:first-of-type {
      padding-left: 0;
    }
  }
}