.separator {
  position: relative;
  flex-wrap: wrap;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: cornflowerblue;
    margin: 10px 0;

  }

  &--spacey {
    &::after {
      margin: 20px 0;
    }
  }
}