html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

form {
  margin-bottom: 20px;
}

label {
  margin-left: 10px;
}

input[type="number"] {
  width: 40px;
  margin-left: 10px;
}

.is-active {
  font-weight: bold;
}

header {
  color: #333;
}
.container {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}

select {
  min-width: 200px;
  font-size: 20px;
}

.button {
  border-radius: 10px;
  font-size: 30px;
  border: 5px solid cornflowerblue;
  color: cornflowerblue;
  text-decoration: none;
  padding: 3px 25px;
  display: inline-block;
  &--sm {
    font-size: 16px;
    border-width: 2px;
  }
}